{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Ambiente</title>
    <link rel="stylesheet" href="{% static 'css/eliminar_ambiente.css' %}?v=1.1">
</head>
<body>
    <div class="card">
        <h1>⚠ Eliminar Ambiente</h1>
        <p>¿Estás seguro de que deseas eliminar este ambiente?<br>
        Esta acción no se puede deshacer.</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit">🗑 Eliminar</button>
        </form>

        <a href="{% url 'ambientes:listar_ambientes' %}">⬅ Cancelar</a>
    </div>
<script src="{% static 'js/eliminar_ambiente.js' %}"></script>
</body>
</html>
