{% extends "accesos/base.html" %}

{% block title %}Inicio - Centro Minero Access{% endblock %}

{% block content %}
    <section>
        <h1>Bienvenido al Sistema de Control de Accesos</h1>
        <p>Selecciona un apartado para continuar:</p>

        <div class="menu">
            <a href="{% url 'accesos_historial' %}" class="btn">Historial de Accesos</a>
            {#<a href="{% url 'usuarios_lista' %}" class="btn">Gestión de Usuarios</a>#}
            {#<a href="{% url 'laboratorio_sistemas' %}" class="btn">Laboratorio de Sistemas</a>#}
            {#<a href="{% url 'laboratorio_minerales' %}" class="btn">Laboratorio de Minerales</a>#}
        </div>
    </section>
{% endblock %}